*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    background-color: greenyellow;
    color: #1A242F;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
}
.btn:hover{
    background-color: #82c123;
}

.navbar-sm, .navbar-bg, .navbar-mobile{
    background-color: #1A242F;
    height: 4.5rem;
}
.navbar-bg{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-sm, .navbar-mobile{
    display: none;
    overflow: hidden;
    transition: 0.5s;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.brand-logo{
    height: 2.5rem;
}
.nav-link{
    color: white;
}

.nav-right{
    display: flex;
    gap: 1.5rem;
}

.nav-right-links{
    color: white;
    font-size: 1.2rem;
}

.bar-icon{
    color: white;
    font-size: 1.5rem;
    display: none;
}

.nav-upper{
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.nav-vertical{
    width: 100%;
    padding: 1.5rem 40px;
}
.seperator{
    background-color: #444;
    color: #444;
    margin: 1rem 0 1.5rem;
}
.nav-expand{
    height: 25rem;
}
.nav-mobile-expand{
    height: 41rem;
}

/* Media Queries */
/* @media (max-width: 1000px){
    .navbar-bg{
        display: none;
    }
    .navbar-sm{
        display: block;
    }
}

@media (max-width: 650px){
    .navbar-sm{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
    .bar-icon{
        display: block;
    }
} */